body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:#f0f2f5;
}

/* Cabeçalho */

header{
    background:#156d50;
    color:white;
    text-align:center;
    padding:30px;
}

/* Menu */

nav{
    background:#333;
}

nav ul{
    list-style:none;
    margin:0;
    padding:10px;
    text-align:center;
}

nav ul li{
    display:inline-block;
    margin:0 15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

/* Conteúdo */

main{
    width:900px;
    margin:auto;
}

/* Cards */

.card{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

/* Perfil */

.perfil{
    display:flex;
    align-items:center;
    gap:20px;
}

.perfil img{
    width:150px;
    border-radius:50%;
}

/* Tabela */

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid #ddd;
    padding:10px;
}

th{
    background:#1e3a8a;
    color:white;
}

/* Rodapé */

footer{
    text-align:center;
    padding:15px;
    background:#333;
    color:white;
}